table {
    border-collapse : collapse;
    width           : 100%;
    table-layout    : fixed;
}

td, th {
    border     : 1px solid #dddddd;
    text-align : left;
    padding    : 8px;
    overflow   : hidden;
}

tr {
    background-color : #3e4444;
}

table input[type=text] {
	width  : 99%;
	padding: 8px;
	color: white;
	background-color: #3e4444;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.servertable table, .servertable thead, .servertable tbody, .servertable th, .servertable td, .servertable tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.servertable thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.servertable tr { border: 1px solid #ccc; }
	
	.servertable td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
		min-height  : 21px;
	}
	
	.servertable td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.servertable td:nth-of-type(1):before { content: "max players"; }
	.servertable td:nth-of-type(2):before { content: "locked"; }
	.servertable td:nth-of-type(3):before { content: "host"; }
	.servertable td:nth-of-type(4):before { content: "port"; }
	.servertable td:nth-of-type(5):before { content: "gameMode"; }
	.servertable td:nth-of-type(6):before { content: "website"; }
	.servertable td:nth-of-type(7):before { content: "lang"; }
	.servertable td:nth-of-type(8):before { content: "description"; }
	.servertable td:nth-of-type(9):before { content: "verified"; }
	.servertable td:nth-of-type(10):before { content: "promoted"; }
  	.servertable td:nth-of-type(11):before { content: "useEarlyauth"; }
  	.servertable td:nth-of-type(12):before { content: "earlyAuthurl"; }
  	.servertable td:nth-of-type(13):before { content: "useCdn"; }
  	.servertable td:nth-of-type(14):before { content: "cdnUrl"; }
	.servertable td:nth-of-type(15):before { content: "Connect Json"; }
  	.servertable td:nth-of-type(16):before { content: "useVoiceChat"; }
  	.servertable td:nth-of-type(17):before { content: "tags"; }
  	.servertable td:nth-of-type(18):before { content: "bannerUrl"; }
  	.servertable td:nth-of-type(19):before { content: "current players"; }
}