table {
    margin: 0 auto;
    margin-top: 1%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    th,
    td {
        padding: 12px 15px;
    }

    tr:nth-of-type(even) {
        background-color: rgb(46, 46, 46);
    }

    h1 {
        margin: 1%;
        font-size: 3.5rem;
        text-align: center;
    }
}

.stream_count_table {
    width: 80%;
}

.info_table {
    width: 60%;
}

@media (max-width: 896px) {
    .info_table,
    .stream_count_table {
        width: 95%;

        h1 {
            font-size: 2.5rem;
        }
    }
}
