.shareicon {
    display: block;
    margin: 0px;
    padding-top: 1%;
    position: relative;
    height: auto;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    word-wrap: normal;
    white-space: nowrap;
}

.shareicon i {
    display: inline;
    margin: 0px;
    padding: 1%;
    vertical-align: middle;
    font-size: 5em;
}

.searchcombo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #333;
    padding: 0.1%;
    border: 1px solid black;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.searchcombo input[type="text"] {
    width: 95%;
    padding: 0.75%;
    background: #333;
    border: 0px;
    color: #dadada;
    font-size: 2rem;
    margin: 1px;
}

.searchcombo input[type="text"]:focus {
    outline: none !important;
}

.searchcombo i {
    font-size: 2rem;
    padding: 0.5%;
    background-color: #333;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 80%;
}

.cards__item {
    display: flex;
    padding: 1rem;
}

.maintable {
    margin-bottom: 1%;
    margin-top: 1%;
}

.maintable h1 {
    margin-bottom: 0px;
    font-size: 3.5rem;
}

.maintable h2 {
    font-size: 2rem;
}

@media (max-width: 896px) {
    .cards {
        max-width: 90%;
    }
    table {
        width: 90%;
    }
}

@media (max-width: 641px) {
    .cards {
        max-width: 95%;
    }
    input[type="text"] {
        width: 85%;
    }
    .shareicon img {
        width: 15%;
    }
    table {
        width: 95%;
    }
}

@media (min-width: 40rem) {
    .cards__item {
        width: 50%;
    }
}

@media (min-width: 56rem) {
    .cards__item {
        width: 33.3333%;
    }
}

.bigcard {
    background-color: #fcd401;
    color: black;
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s linear;
    width: 40vw;
    margin: 0 auto;
}

.card {
    background-color: #fcd401;
    color: black;
    border-radius: 0px 0px 0.5rem 0.5rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s linear;
}

.bigcard:hover,
.card:hover {
    color: white;
    background-color: black;
}

.card__content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 1rem;
}

.card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: contrast(70%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
}

.profileheader {
    margin-bottom: 2%;
}

.profileheader td {
    display: block;
    width: 99.9%;
    clear: both;
}

.card__title {
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__text {
    flex: 1 1 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
}

.streamerdetails {
    text-align: center;
}

.infotext {
    width: 35%;
    text-align: justify;
    margin: auto;
}

.infotext a {
    text-decoration: underline;
    text-decoration-color: blue;
}

.streamergrid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "A A"
        "B C";
    width: 100%;
}

@media (max-width: 641px) {
    .streamergrid {
        grid-template-areas:
            "A"
            "B"
            "C";
    }
    .A,
    .B,
    .C {
        width: 200%;
    }
    .C {
        margin: 0 auto;
    }
    .C .cards__item {
        width: 100%;
    }
    .bigcard {
        width: 100%;
    }
    .shareicon .fa {
        font-size: 3.5em;
    }
    .twitchproicon {
        width: 15vw;
    }
}

.A {
    grid-area: A;
}

.B {
    grid-area: B;
}

.C {
    grid-area: C;
}

.textblock {
    position: absolute;
    bottom: 5%;
    right: 5%;
    background-color: black;
    color: white;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1.5em;
}

.note {
    padding: 0.5%;
    text-align: right;
}
