table {
    width: 60%;
}

.maintable {
    margin-bottom: 1%;
    margin-top: 1%;
    width: 80%;
}

.maintable h1 {
    margin-bottom: 0px;
    font-size: 3.5rem;
    text-align: center;
}

.maintable h2 {
    font-size: 2rem;
}

@media (max-width: 896px) {
    .maintable,
    table {
        width: 95%;
    }
}