.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 80%;
}

@media (max-width: 896px) {
    .cards {
        max-width: 90%;
    }
}

@media (max-width: 641px) {
    .cards {
        max-width: 95%;
    }
}

.searchcombo {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1%;
    background-color: #333;
    padding: 0.1%;
    border: 1px solid black;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.searchcombo input[type="text"] {
    width: 95%;
    padding: 0.75%;
    background: #333;
    border: 0px;
    color: #dadada;
    font-size: 2rem;
    margin: 1px;
}

.searchcombo input[type="text"]:focus {
    outline: none !important;
}