.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    max-width: 80%;
}

@media (max-width: 896px) {
    .cards {
        max-width: 90%;
    }
    .mock_button {
        visibility: hidden;
    }
}

@media (max-width: 641px) {
    .cards {
        max-width: 95%;
    }
}

.sort {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: auto;

    .active {
        background-color: black;
        color: white;
    }

    button {
        transition: all 0.3s linear;
        flex-direction: column;
        appearance: none;
        background-color: #fcd401;
        border: 1px solid rgba(27, 31, 35, 0.15);
        border-radius: 6px;
        box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
        box-sizing: border-box;
        color: black;
        cursor: pointer;
        font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
            sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        padding: 6px 16px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        vertical-align: middle;
        white-space: nowrap;
        margin: 1%;

        &:hover {
            color: white;
            background-color: black;
        }
    }
}

@media (prefers-reduced-motion: reduce) {
    .sort button {
        transition: none;

        &:hover {
            color: black;
            background-color: #fcd401;
        }
    }

    .sort .active {
        &:hover {
            color: white;
            background-color: black;
        }
    }
}

@media (max-width: 741px) {
    .sort {
        flex-direction: column;
    }
}

.searchcombo {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #333;
    padding: 0.1%;
    border: 1px solid black;
    border-color: #1a1a1a;
    border-radius: 4px;
}

.searchcombo input[type="text"] {
    width: 95%;
    padding: 0.75%;
    background: #333;
    border: 0px;
    color: #dadada;
    font-size: 2rem;
    margin: 1px;
    font-family: "Courgette";
    font-size: 2.25rem;
}

.searchcombo input[type="text"]:focus {
    outline: none !important;
}

.mock_button {
    width: 3%;
    height: auto;
    background-color: #fcd401;
    border-radius: 25px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}

.mock_button img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    filter: invert(0%);
    transition: all 0.1s linear;

    &:hover {
        filter: invert(100%);
    }
}

@media (prefers-reduced-motion: reduce) {
    .mock_button img {
        transition: none;

        &:hover {
            filter: invert(0%);
        }
    }
}

.nolive {
    text-align: center;
}

.clear_input {
    transition: all 0.3s linear;
    height: 4em;
    width: 4em;
    display: inline;
    filter: invert(0%);

    &:hover {
        filter: invert(100%);
    }

    img {
        width: 100%;
        height: 100%;
    }
}

@media (prefers-reduced-motion: reduce) {
    .clear_input {
        transition: none;

        &:hover {
            filter: invert(0%);
        }
    }
}

.show_filters_button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;

    &:hover {
        filter: invert(100%);
    }

    &.state_up {
        transform: rotate(180deg);
    }

    &.state_down {
        transform: rotate(0deg);
    }
}
