html {
	font-size : 16px;
	font-family: 
    system-ui,
    "Segoe UI",
    "Ubuntu",
    "Roboto", "Noto Sans", "Droid Sans",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap : break-word;
	background-color: #343a40;
	color: white;
}

*,
*::before,
*::after { 
  box-sizing: border-box;
}

@font-face {
  font-family: "Courgette";
  src: url("fonts/Courgette-Regular.ttf");
}

h1,
h2,
h3 {
  font-family: "Courgette";
}

body {
  margin: 0;
}

a {
	color: white;
	text-decoration: none;
}

.shareicon {
  display: block;
  margin: 0px;
  padding-top: 1%;
  position: relative;
  height: auto;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
  word-wrap: normal;
  white-space: nowrap;
}

.shareicon img {
  display: inline;
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  width: 5%;
}

.head {
	text-align: center;
}

input[type=text] {
  width: 50%;
  padding: 0.75%;
  margin-top: 0.75%;
  background: #333;
  border-color: #1a1a1a;
  border-radius: 4px;
  color: #dadada;
}

input[type=text]:focus {
  border-color: #fcd401;
  border-radius: 5px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  max-width: 80%;
}

.cards__item {
  display: flex;
  padding: 1rem;
}

@media(max-width: 896px) {
  .cards {
    max-width: 90%;
  }
  table {
    width: 90%;
  }
}

@media(max-width: 641px) {
  .cards {
    max-width: 95%;
  }
  input[type=text] {
    width: 85%;
  }
  .shareicon img {
    width: 15%;
  }
  table {
    width: 95%;
  }
}

@media(min-width: 40rem) {
  .cards__item {
    width: 50%;
  }
}

@media(min-width: 56rem) {
  .cards__item {
    width: 33.3333%;
  }
}

.card {
  background-color: #fcd401;
  color: black;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all .3s linear;
}

.card:hover {
  color: white;
  background-color: black;
}

.card__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  filter: contrast(70%);
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
}

img {
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

.streamerdetails {
  text-align: center;
}

table {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

th,
td {
    padding: 12px 15px;
}

tr:nth-of-type(even) {
  background-color: gray;
}

button {
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #fcd401;
  transition: all .2s linear;
}

button:hover {
  color: white;
  background-color: black;
}